<!DOCTYPE html>
<html lang="en">

<head>
    <link href="http://static.topu.net/f/static/css/index_8f4a255.css" rel="stylesheet" type="text/css" />
    <%include comm/head.html%>
</head>

<body class="index">
    <!--页面头部结构-->
    <%include comm/top.html%>
        <!--页面banner部分结构-->
        <section class="banner">
            <div class="img_1 hide">
            </div>
            <div class="img_2 hide">
            </div>
            <div class="img_3 hide">
            </div>
            <div class="img_4 hide">
            </div>
            <div class="content hide">
                <p class="content_p1">多通路的保障</p>
                <p class="content_p2">PC商户平台+手机营销通道</p>
                <p>为企业提供更好的营销宣传的选择</p>
                <p>移动互联网营销首选品牌合作</p>
            </div>
        </section>
        <section class="father">
            <!--页面中部高效的移动互联网营销结构-->
            <section class="marketing">
                <div class="content hide">
                    <p class="content_p1">高效的移动互联网营销</p>
                    <p>低于传统竞价广告几倍的成本，获得唯一独家用户</p>
                    <p>展示的机会，只按目标客户有效阅读后收费</p>
                    <p>全主流移动社交平台投放营销</p>
                </div>
                <div class="img_1 hide">
                </div>
            </section>
            <!--页面中部病毒裂变式传播方式结构-->
            <section class="spread">
                <div class="map hide">
                </div>
                <div class="phone_left hide">
                </div>
                <div class="phone_right hide">
                </div>
                <div class="phone_bot hide">
                </div>
                <div class="phone_line hide">
                    <ul>
                        <li class="phone phone_1 hide"></li>
                        <li class="phone phone_2 hide"></li>
                        <li class="phone phone_3 hide"></li>
                        <li class="phone phone_4 hide"></li>
                        <li class="phone phone_5 hide"></li>
                        <li class="phone phone_6 hide"></li>
                        <li class="phone phone_7 hide"></li>
                        <li class="phone phone_8 hide"></li>
                        <li class="phone phone_9 hide"></li>
                        <li class="phone phone_10 hide"></li>
                        <li class="phone phone_11 hide"></li>
                        <li class="phone phone_12 hide"></li>
                        <li class="phone phone_13 hide"></li>
                        <li class="phone phone_14 hide"></li>
                    </ul>
                </div>
                <div class="content hide">
                    <p class="content_p1">病毒裂变式传播方式</p>
                    <p>由真实用户发起的传播行为，将有效的内容传播到需求</p>
                    <p>用户手中，实现1传N到N传N，实现N次方的传播速度。</p>
                    <p>全主流移动社交平台投放营销</p>
                </div>
            </section>
        </section>
        <!--页面中部商家广告高效传播平台结构-->
        <section class="ad">
            <section class="auto">
                <h2><span></span><p>商家广告高效传播平台</p><span></span></h2>
                <ul>
                    <li class="li_1">
                        <div></div>
                        <p>多项目投放</p>
                    </li>
                    <li class="li_2">
                        <div></div>
                        <p>一键电话</p>
                    </li>
                    <li class="li_3">
                        <div></div>
                        <p>一键外链</p>
                    </li>
                    <li class="li_4">
                        <div></div>
                        <p>移动端广告投放</p>
                    </li>
                </ul>
            </section>
        </section>
        <!--页面底部数据图表结构样式结构-->
        <section class="data">
            <div class="zuobiao">
            </div>
            <div class="color">
            </div>
            <div class="left">
            </div>
            <div class="right">
            </div>
            <div class="content">
                <p class="content_p1">CPR计费,不仅有量还有质
                    <br/>按目标客户有效阅读付费
                    <br/>多技术手段保障广告投放效果</p>
                <p>低于传统竞价广告几倍的成本
                    <br/>获得唯一独家用户展示的机会
                    <br/>只按目标客户有效阅读后收费</p>
            </div>
        </section>
        <section class="to_top">
        </section>
        <!--页面底部foot样式结构-->
        <%include comm/footer.html%>
            <script data-main="http://static.topu.net/f/static/widget/aio_0f65653.js" src="http://static.topu.net/f/inc/require.js" id="script_page" page="index"></script>
</body>

</html>
