 <section class="html_foot">
        <section class="auto">
            <ul>
                <li class="li_1 li_click" target="_blank" url=""></li>
                <li id="li_2">
                    
                </li>
                <li class="li_3 li_click" target="_blank" url=""></li>
                <li class="li_4 li_click" target="_blank" url=""></li>
            </ul>
            <p><span class="left">版权信息：北京元吉科技有限公司</span><span class="right">京ICP备15019396号-6</span></p>
        </section>
</section>
<section class="twodcode">
    <div class="black">
    </div>
    <div class="img">
        <img src="/images/weixin.jpg" alt="二维码">
    </div>
</section>
