
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%=common%></title>
    <meta name="keywords" content="元吉官网" />
    <meta name="description" content="元吉官网" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   
    <link href="/css/UserControl.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]><script type="text/javascript" src="/inc/html5shiv.min.js"></script>
    <link href="/inc/index_ie789.css" rel="stylesheet" type="text/css" />
    <link href="/inc/ie78.css" rel="stylesheet" type="text/css" /><![endif]-->