     <section class="html_top">
        <section class="top_top">
            <div>
                <a href="http://business.51icb.com" target="_blank">商家入口</a>
            </div>
        </section>
        <section class="top">
            <img src="/images/logo.png" alt="元吉官网">
            <p>
                <a href="/" <%if(menu==1){%> class="on" <%}%>>首页</a>
                <a href="/AboutUs"<%if(menu==2){%> class="on" <%}%> >关于我们</a>
                <a href="/Product" <%if(menu==3){%> class="on" <%}%> >旗下产品</a>
                <a href="/Cooperate"<%if(menu==4){%> class="on" <%}%> >商务合作</a>
                <a href="/QA" <%if(menu==5){%> class="on" <%}%>>常见问题</a>
                <a href="/ContactUs" <%if(menu==6){%> class="on" <%}%>>联系我们</a>
                <a href="/JoinUs" <%if(menu==7){%> class="on" <%}%>>加入我们</a>
            </p>
        </section>
    </section>
